page-event-modal {
    .colorButton{
        zoom: 2 !important; 
        position: absolute !important; 
        top: 2.5% !important;
        right: 10px !important;
        padding: 0px;
        text-align: right;
    }
}
