<ion-header>
  <ion-navbar>
    <ion-title style="margin-left: 50px; text-align:center">
      <b>내 스터디</b>
    </ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="search()">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button icon-only (click)="registration()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <!-- <ion-row *ngFor="let row of grid"> -->
    <ion-row *ngFor="let item of items">
      <!-- {{row}} -->
      <ion-col>
        <!-- {{item}} -->
        <button class="button" (click)="openCrewDetail(item)">
          <img src="{{item.img}}" />
        </button>
        <div class="card-title">{{item.name}}</div>

        <!-- <div class="card-subtitle">{{item.id}}</div> -->
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- <ion-grid fixed>
    <ion-row align-items-stretch>
      <ion-col col-2 col-md-1 align-self-stretch align-self-center approxItemHeight="457px">
        <ion-item *ngFor="let item of items">

          <ion-card>
            <img src="assets/imgs/bike.jpg" />
            <div class="card-title">{{item.name}}</div>
            <div class="card-subtitle">{{item.id}}</div>
          </ion-card>
        </ion-item>

      </ion-col>

    </ion-row>
  </ion-grid> -->



  <!-- <h2>{{ item.name }} </h2>
        <button
           ion-button
           color="primary"
           item-right
           (click)="viewEntry({ record: item })">View</button> -->
  <!-- </ion-item>
</ion-content>


<!-- <ion-content class="outer-content speaker-list">
    <ion-list [virtualScroll]="speakers">
      <ion-grid fixed>
        <ion-row align-items-stretch>
  
          <ion-col col-12 col-md-6 align-self-stretch align-self-center *virtualItem="let speaker" approxItemHeight="457px">
  
            <ion-card class="speaker-card">
              <ion-card-header>
                <button ion-item detail-none (click)="goToSpeakerDetail(speaker)">
                  <ion-avatar item-start>
                    <img [src]="speaker.profilePic" alt="Speaker profile pic">
                  </ion-avatar>
                  {{speaker.name}}
                </button>
              </ion-card-header>
  
              <ion-card-content class="outer-content">
                <ion-list>
                  <button ion-item *ngFor="let item of items" (click)="goToSessionDetail(session)">
                    <h3>{{item.name}}</h3>
                  </button>
  
                  <button ion-item (click)="goToSpeakerDetail(speaker)">
                    <h3>About {{item.name}}</h3>
                  </button>
                </ion-list>
              </ion-card-content>
  
              <ion-row no-padding>
                <ion-col col-12 col-lg-auto text-center text-lg-left>
                  <button ion-button clear small color="primary" icon-start (click)="goToSpeakerTwitter(speaker)">
                    <ion-icon name="logo-twitter"></ion-icon>
                    Tweet
                  </button>
                </ion-col>
                <ion-col col-12 col-lg-auto text-center>
                  <button ion-button clear small color="primary" icon-start (click)="openSpeakerShare(speaker)">
                    <ion-icon name='share-alt'></ion-icon>
                    Share
                  </button>
                </ion-col>
                <ion-col col-12 col-lg-auto text-center text-lg-right>
                  <button ion-button clear small color="primary" icon-start (click)="openContact(speaker)">
                    <ion-icon name='chatboxes'></ion-icon>
                    Contact
                  </button>
                </ion-col>
              </ion-row>
  
            </ion-card>
  
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>
  </ion-content> -->