<!--
  Generated template for the CrewDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<div *ngIf="isCrewMember === false" class="mask"></div>
<button *ngIf="isCrewMember === false" class="apply" ion-button (click)="apply()">가입신청</button>
<button *ngIf="isCrewMember === false" class="back" navPop ion-button icon-only>
  <ion-icon name="arrow-back"></ion-icon>
</button>

<ion-header no-border>

  <ion-buttons left style="margin-left: 15px; margin-top: 5px;">

    <button navPop ion-button icon-only style="background-color:transparent; box-shadow: none !important">

      <ion-icon name="arrow-back"></ion-icon>

    </button>

  </ion-buttons>

  <!-- <div class="crewDetail"></div> -->

  <img class="crewTitleImg" src="{{crewData.img}}" />

  <div class="crewTitleBack">

    <div class="crewTitleLabel" style="font-size: 18px">{{crewData.name}}</div>

    <div class="crewMemberLabel" style="font-size: 14px">멤버 {{crewMemberCount}}</div>

    <button *ngIf="isCrewLeader === true" class="crewMemberAddButton" ion-button style="background-color:transparent; 
    color:black; box-shadow: none !important" (click)="addMember()">

      <ion-icon name="add-circle" style="font-size: 14px"> 초대</ion-icon>

    </button>
    <!-- <button class="crewApplyListButton" ion-button style="background-color:transparent; 
    color:black; box-shadow: none !important" (click)="addMember()">

      <ion-icon name="add-circle" style="font-size: 14px"> </ion-icon>

    </button> -->
    <button class="crewWritingButton" right ion-button round (click)="writing()">글쓰기</button>

  </div>

  <img class="crewTitleImg" src="{{crewData.img}}" />

</ion-header>

<ion-content no-padding>
  <div style="margin-top: 90px; margin-bottom: 56px;">
    <ion-list no-padding>
      <!-- <ion-item > -->

      <ion-card *ngFor="let post of postArray; let i = index;">
        <ion-grid no-padding style="margin: 10px !important;">
          <ion-row align-items-center>

            <ion-col col-2>
              <img class="thumbnail" src="assets/imgs/dogs_s.jpg">
            </ion-col>

            <ion-col col-8>
              <ion-row>
                <p style="font-size: 13px; margin: 0px;">{{post.username}}</p>
              </ion-row>
              <ion-row>
                <p style="font-size: 13px; margin: 0px;">{{post.date}}</p>
              </ion-row>
            </ion-col>

            <ion-col col-2 align-self-start justify-content-center style="margin-top: 0px">
              <button ion-button clear no-margin>
                <ion-icon name="more"></ion-icon>
              </button>
            </ion-col>

          </ion-row>

          <ion-row>
            <button (click)="postDetail(post)" style="text-align: left; width: 100%">
              <p class="b">{{post.content}}</p>
            </button>
          </ion-row>
        </ion-grid>

        <img *ngIf="post.attachment === 1" class="postImage" src="assets/imgs/blockchain.jpg">

        <ion-row>
          <ion-col>
            <button ion-button icon-left clear small>
              <ion-icon name="thumbs-up"></ion-icon>
              <div>{{i}} Likes</div>
            </button>
          </ion-col>
          <ion-col>
            <button ion-button icon-left clear small>
              <ion-icon name="text"></ion-icon>
              <div>{{i}} Comments</div>
            </button>
          </ion-col>
        </ion-row>
      </ion-card>

      <!-- </ion-item> -->
    </ion-list>
  </div>
</ion-content>