<ion-header>
  <ion-navbar>
    <ion-title style="text-align:center">
      <b>소식</b>
    </ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="logout()">
        <ion-icon name="ios-log-out"></ion-icon>
      </button>
    </ion-buttons>

    <!-- <ion-buttons end>
        <button ion-button icon-only (click)="logout()">
          <ion-icon name="ios-log-out"></ion-icon>
        </button>
      </ion-buttons> -->
  </ion-navbar>
</ion-header>

<ion-content no-padding>
  <div style="margin-top: 10px; margin-bottom: 56px;">
    <ion-list no-padding>

      <ion-card *ngFor="let post of postArray; let i = index;">

        <ion-grid no-padding style="margin: 10px !important;">
          <ion-row align-items-center>

            <ion-col col-2>
              <img class="thumbnail" src="{{post.thumbnail}}">
            </ion-col>

            <ion-col col-8>
              <ion-row>
                <p style="font-size: 13px; margin: 0px;">{{post.username}}</p>
              </ion-row>
              <ion-row>
                <p style="font-size: 13px; margin: 0px;">{{post.date}}</p>
              </ion-row>
            </ion-col>

            <ion-col col-2 align-self-start justify-content-center style="margin-top: 0px">
              <button ion-button clear no-margin>
                <ion-icon name="more"></ion-icon>
              </button>
            </ion-col>

          </ion-row>

          <ion-row>
            <button (click)="postDetail(post)" style="text-align: left; width: 100%">
              <p class="b">{{post.content}}</p>
            </button>
          </ion-row>
        </ion-grid>

        <img *ngIf="post.attachment === 1" class="postImage" src="assets/imgs/blockchain.jpg">
        <ion-row>
          <ion-col>
            <button ion-button icon-left clear small>
              <ion-icon name="thumbs-up"></ion-icon>
              <div>{{i}} Likes</div>
            </button>
          </ion-col>
          <ion-col>
            <button ion-button icon-left clear small>
              <ion-icon name="text"></ion-icon>
              <div>{{i}} Comments</div>
            </button>
          </ion-col>
        </ion-row>
      </ion-card>

    </ion-list>
  </div>
</ion-content>