page-category-select {
    .text {
        position: absolute !important;
        top: 50px;
        left: 8px;
        color: white;
        text-align: left;
        font-size: 13px;
        // text-decoration: none;
    }

    .thumb { 
        width: 80px; height: 80px;
        object-fit: cover;
        object-position: 55%;
        margin: 3px;
    }
}
